  $titleFont = 'Oswald', sans-serif
  $maxWidth = 64em
  $minWidth = 1000px
  $titleColor = #111111
  $contentColor = #666666
  $hoverColor = #000000

  #container
    width $minWidth
    margin 0 auto
    position relative
    #three
      display block
      position fixed
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      canvas
        transition 1s
        position relative

  .ease-enter-active, .ease-leave-active
    transition 3s
    opacity 1
  .ease-enter, .ease-leave-to
    opacity 0

  @media screen and (max-width $maxWidth)
    #container
      width calc(100vw - 40px)
      margin 0
      #three
        margin 0
        height 100vh
        width 100vw