  frameWidth = 40px
  titleFont ='Oswald', sans-serif

  .container
    padding 10px
    width 1000px
    margin 0 auto
    position relative
    z-index 1
    @media screen and (max-width 1020px)
      width calc(100% - frameWidth)
      margin 0
  .background-enter-active, .background-leave-active
    transition opacity 3s
  .background-enter, .background-leave-to
    opacity 0
  #three
    transition .5s
    background #fff
    position fixed
    top 0
    bottom 0
    left frameWidth
    right frameWidth
    z-index 0
    overflow hidden
    canvas
      width 100%
      height 100%
    &.open
      left 0
      right 0